.wrapper {
    display: grid;
    grid-template-columns: 10% 30% 10% 15% 15% 10%;
    grid-gap: 1%;
    row-gap: 12px;
    background-color: #fff;
    color: #444;
    align-items: center;
    justify-content: left;
}

.total-price {
    grid-column: 5;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 4px;
        row-gap: 12px;
        background-color: #fff;
        color: #444;
        align-items: center;
        justify-content: left;
    }

    .total-price {
        grid-column: 2 / span 3;
    }

    .cart-product-title {
        grid-column: 2 / span 3;
    }

    .cart-product-price {
        grid-column: 5;
    }

    .cart-product-quantity {
        grid-column: 2 / span 2;
    }
}

