/* modal.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-main {
    position: absolute;
    top: 30%;
    left: 30%;
    height: 20%;
    width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-main button {
    float: right;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
